.counter {
  display: grid;
  grid-template-columns: minmax(380px, 1680px);
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 32px 16px;
  margin: 0 auto;
  background: linear-gradient(
    138.78deg,
    rgb(219, 151, 197) -13.14%,
    rgb(204, 79, 163) 6.053%,
    rgb(160, 58, 126) 31.792%,
    rgb(109, 38, 86) 75.935%,
    rgb(73, 7, 53) 100.331%
  );
}
@media screen and (min-width: 768px) {
  .counter {
    gap: 48px;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .counter {
    gap: 68px;
    padding: 68px 60px;
  }
}
/* @media screen and (min-width: 1440px) {
  .counter {
    padding: 60px 40px;
  }
} */
@media screen and (min-width: 1920px) {
  .counter {
    padding: 68px 120px;
  }
}
.countTitle {
  color: rgb(252, 252, 252);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .countTitle {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .countTitle {
    font-size: 40px;
  }
}
.wrapList {
  display: grid;
  grid-template-columns: minmax(380px, 724px);
  grid-template-rows: repeat(3, 80px);
  padding: 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapList {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
.wrapItem {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .wrapItem {
    grid-template-columns: minmax(220px, 560px);
    grid-template-rows: auto auto;
  }
}
@media screen and (min-width: 1280px) {
  .wrapItem {
    align-items: center;
    justify-items: center;
  }
}
.wrapTotal {
  display: grid;
  grid-template-columns: 156px 28px;
  grid-template-rows: auto;
}
.wrapAmount {
  display: grid;
  grid-template-columns: 120px 30px;
  grid-template-rows: 84px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: antiquewhite;
}
.amount {
  display: grid;
  justify-content: flex-end;
  align-items: center;
  color: rgb(252, 252, 252);
  font-size: clamp(48px, 2.397rem + 2.3vw, 56px);
  font-weight: 600;
  line-height: 1.5;
}
.plus {
  fill: rgb(252, 252, 252);
  width: 28px;
  height: 28px;
}
.wrapClick {
  display: grid;
  justify-content: center;
  align-items: end;
  padding: 0;
}
.click {
  fill: rgb(46, 5, 53);
  width: 28px;
  height: 56px;
}
.countText {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  color: rgb(252, 252, 252);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  overflow-wrap: anywhere;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .countText {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .countText {
    font-size: 24px;
  }
}
