.feedback {
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  background: linear-gradient(
    138.78deg,
    rgb(219, 151, 197) -13.14%,
    rgb(204, 79, 163) 6.053%,
    rgb(160, 58, 126) 31.792%,
    rgb(109, 38, 86) 75.935%,
    rgb(73, 7, 53) 100.331%
  );
}
@media screen and (min-width: 768px) {
  .feedback {
    padding: 60px 40px;
  }
}
@media screen and (min-width: 1920px) {
  .feedback {
    padding: 72px 40px;
  }
}
.wrapForm {
  display: flex;
  flex-direction: column;
  width: 380px;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  background-color: rgba(210, 210, 210, 0.7);
  padding: 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapForm {
    width: 620px;
    gap: 40px;
    padding: 40px;
  }
}
.formTitle {
  display: flex;
  justify-content: center;
  color: rgb(252, 252, 252);
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .formTitle {
    font-size: 32px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 348px;
  gap: 16px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .form {
    width: 540px;
    gap: 24px;
  }
}
.wrapInput {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.label {
  display: flex;
  flex-direction: column;
  width: 348px;
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(252, 252, 252);
}
@media screen and (min-width: 768px) {
  .label {
    width: 540px;
  }
}
.red {
  color: rgb(249, 73, 73);
}
.info {
  display: flex;
  width: 348px;
  height: 44px;
  border-radius: 8px;
  outline: transparent;
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 400;
  color: rgb(3, 1, 16);
  padding: 10px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .info {
    width: 540px;
  }
}
.border {
  border: 2px solid rgb(252, 252, 252);
}
.borderRed {
  border: 2px solid rgb(249, 73, 73);
}
.info:placeholder-shown {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: rgba(210, 210, 210, 0.5);
}
.message {
  display: flex;
  width: 348px;
  height: 112px;
  resize: none;
  border-radius: 8px;
  outline: transparent;
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .message {
    width: 540px;
  }
}
.wrapBtn {
  display: flex;
  width: 348px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .wrapBtn {
    width: 540px;
  }
}
.formBtn {
  display: flex;
  width: 160px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 14px 24px 14px 24px;
  border-radius: 8px;
  color: rgb(252, 252, 252);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    130.79deg,
    rgb(108, 34, 118) 0.554%,
    rgb(104, 45, 120) 33.196%,
    rgb(100, 53, 121) 57.436%,
    rgb(97, 59, 122) 76.551%,
    rgb(93, 68, 124) 92.454%
  );
}
@media screen and (min-width: 768px) {
  .formBtn {
    width: 200px;
  }
}
.formBtn:hover,
.formBtn:focus {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    135deg,
    rgb(227, 124, 193),
    rgb(226, 49, 168) 43.573%,
    rgb(157, 47, 121) 90.728%,
    rgb(133, 26, 98) 119.379%
  );
}
.errorMess {
  display: flex;
  color: rgb(249, 73, 73);
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
