.mentor {
  display: grid;
  grid-template-columns: minmax(380px, 688px);
  grid-template-rows: auto 1fr 60px;
  align-items: start;
  justify-items: center;
  gap: 20px;
  padding: 32px 16px;
  background-color: #2e0535;
}
@media screen and (min-width: 768px) {
  .mentor {
    gap: 48px;
    grid-template-columns: minmax(688px, 1160px);
    padding: 48px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .mentor {
    gap: 68px;
    grid-template-columns: minmax(1160px, 1320px);
    grid-template-rows: auto auto 60px;
    align-items: center;
    justify-content: center;
    padding: 68px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .mentor {
    padding: 68px 80px;
  }
}
/* @media screen and (min-width: 1920px) {
  .mentor {
    grid-template-columns: 1320px;
    padding: 72px 40px;
  }
} */

.mentTitle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  color: rgb(252, 252, 252);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .mentTitle {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .mentTitle {
    font-size: 40px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  min-width: 380px;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1280px) {
  .wrap {
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 1200px;
  }
}
.wrapImg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 70%;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .wrapImg {
    height: 550px;
  }
}
.imgEllips {
  position: relative;
  display: grid;
  grid-template-columns: minmax(380px, 550px);
  justify-items: center;
  align-items: start;
  aspect-ratio: 1/1;
  z-index: 0;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .imgEllips {
    position: absolute;
    align-items: end;
    grid-template-columns: 574px;
    grid-template-rows: 550px;
  }
}
@media screen and (min-width: 1280px) {
  .imgEllips {
    grid-template-columns: 574px;
    grid-template-rows: 550px;
    left: -20px;
  }
}
.imgWoman {
  position: absolute;
  display: grid;
  grid-template-columns: minmax(380px, 520px);
  grid-template-rows: auto;
  justify-items: center;
  align-items: end;
  aspect-ratio: 1/1;
  z-index: 0;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .imgWoman {
    position: relative;
    grid-template-columns: 574px;
    grid-template-rows: 550px;
  }
}
@media screen and (min-width: 1280px) {
  .imgWoman {
    left: -20px;
    grid-template-columns: 574px;
    grid-template-rows: 550px;
  }
}
.imgMob {
  display: block;
  top: 0;
  z-index: 1;
}
.imgDeck {
  display: none;
}
@media screen and (min-width: 1280px) {
  .imgMob {
    display: none;
  }
  .imgDeck {
    z-index: 1;
    display: block;
    top: 32px;
    object-fit: cover;
  }
}
.shadow {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: minmax(320px, 520px);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  background: rgba(210, 210, 210, 0.5);
}
@media screen and (min-width: 1280px) {
  .shadow {
    top: 120px;
    right: -20px;
    grid-template-columns: 580px;
    grid-template-rows: 360px;
  }
}
.empty {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px;
  background-color: transparent;
}
.mentText {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  color: rgb(252, 252, 252);
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .mentText {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .mentText {
    font-size: 20px;
  }
}
.wrapBtn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.mentBtn {
  display: grid;
  width: 300px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 14px 24px 14px 24px;
  border-radius: 8px;
  color: rgb(252, 252, 252);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  margin: 0;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    130.79deg,
    rgb(108, 34, 118) 0.554%,
    rgb(104, 45, 120) 33.196%,
    rgb(100, 53, 121) 57.436%,
    rgb(97, 59, 122) 76.551%,
    rgb(93, 68, 124) 92.454%
  );
}
.mentBtn:hover,
.mentBtn:focus {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    135deg,
    rgb(227, 124, 193),
    rgb(226, 49, 168) 43.573%,
    rgb(157, 47, 121) 90.728%,
    rgb(133, 26, 98) 119.379%
  );
}
