.partners {
  display: grid;
  grid-template-columns: minmax(380px, 1320px);
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 32px 16px;
  background-color: rgb(138, 26, 102);
  margin: 0 auto;
  /* background: linear-gradient(
    138.78deg,
    rgb(219, 151, 197) -13.723%,
    rgb(204, 79, 163) 5.792%,
    rgb(160, 58, 126) 31.964%,
    rgb(109, 38, 86) 76.848%,
    rgb(73, 7, 53) 101.654%
  ); */
}
@media screen and (min-width: 768px) {
  .partners {
    gap: 48px;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .partners {
    gap: 68px;
    padding: 68px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .partners {
    padding: 68px 80px;
  }
}
@media screen and (min-width: 1920px) {
  .partners {
    padding: 72px 40px;
  }
}
.partnerTitle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  color: rgb(252, 252, 252);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .partnerTitle {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .partnerTitle {
    font-size: 40px;
  }
}
.partnersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0 0 40px 0;
  margin: 0 auto;
}
.partnerItem {
  position: relative;
  display: flex;
  width: 360px;
  height: 180px;
  border-radius: 10px;
  background-color: rgba(210, 210, 210, 0.5);
}
