.project {
  display: grid;
  grid-template-columns: minmax(380px, 1280px);
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 32px 16px;
  margin: 0 auto;
  background-color: rgb(67, 4, 78);
  /* background-color: #43044e; */
  border-top: 2px solid rgb(226, 49, 168);
  border-bottom: 2px solid rgb(226, 49, 168);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .project {
    gap: 48px;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .project {
    gap: 68px;
    padding: 68px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .project {
    gap: 68px;
    padding: 68px 80px;
  }
}
@media screen and (min-width: 1920px) {
  .project {
    padding: 68px 120px;
  }
}
.projectTitle {
  display: flex;
  justify-content: center;
  color: rgb(252, 252, 252);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .projectTitle {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .projectTitle {
    font-size: 40px;
  }
}

.wrapList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
  margin: 0 auto;
}
.wrapItem {
  position: relative;
  display: flex;
  width: 400px;
  height: 460px;
  padding: 0;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
.wrapInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 396px;
  height: 456px;
  background-color: rgba(255, 255, 255, 0.5);
  /* padding: 8px; */
  border-radius: 12px;
  padding: 20px;
}
.statusWrap {
  display: flex;
  gap: 16px;
  /* backdrop-filter: blur(2px); */

  margin-bottom: 20px;
}
.statusIcon {
  width: 24px;
  height: 24px;
}
.statusText {
  font-size: 16px;
  font-weight: 600;
  color: rgb(46, 5, 53);
}
.wrapTitle {
  display: flex;
  /* display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; */
  justify-content: center;
  width: fit-content;
  height: auto;
  /* backdrop-filter: blur(2px);
  background-color: rgba(103, 100, 100, 0.5); */
  /* padding: 8px;
  border-radius: 20px; */
}
.itemTitle {
  display: grid;
  /* justify-content: center; */

  font-size: 24px;
  color: rgb(46, 5, 53);
  font-weight: 700;
  /* backdrop-filter: blur(2px);
  background-color: rgba(103, 100, 100, 0.5);
  padding: 8px;
  border-radius: 20px; */
  text-align: center;
  /* color: rgb(255, 255, 255); */
  /* margin: 8px; */
}
.wrapElements {
  top: 260px;
  left: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 356px;
  gap: 8px;
  margin-bottom: 0;
}
.wrapLink {
  display: flex;
  /* padding: 8px; */
  /* backdrop-filter: blur(2px); */
  /* background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px; */
  width: fit-content;
}
.itemLink {
  display: flex;
  font-size: 16px;
  border-radius: 20px;
  color: rgb(1, 87, 155);
  font-weight: 400;
  cursor: pointer;
}
.wrapElem {
  display: flex;
  justify-content: space-between;
  width: 356px;
}
.elem {
  display: flex;

  gap: 8px;
  /* backdrop-filter: blur(2px); */
  /* background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  border-radius: 20px; */
}
.itemText {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: rgb(67, 4, 78);
  font-weight: 700;
}
.wrapText {
  font-size: 16px;
  color: rgb(67, 4, 78);
  font-weight: 700;
  /* backdrop-filter: blur(2px); */
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* padding: 8px;
  border-radius: 20px; */
}
.itemIcon {
  width: 24px;
  height: 24px;
  fill: rgb(67, 4, 78);
}
.diffIcon {
  width: 24px;
  height: 24px;
  fill: rgb(67, 4, 78);
  border-radius: 50%;
}
.bg {
  background: rgb(67, 4, 78);
}
.teamBtn {
  /* top: 420px;
  position: absolute; */
  display: flex;
  width: fit-content;
  /* background-color: rgba(255, 255, 255, 0.5); */
  font-size: 16px;
  border: none;
  outline: transparent;
  padding: 10px;
  /* border-radius: 20px; */
  cursor: pointer;
}
.wrapTeam {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 396px;
  height: 456px;
  opacity: 0;
  transform: translateY(500px);
  transition: opacity 500ms ease-out delay 100ms, transform 500ms ease;
}
.show {
  transform: translatey(0);
  opacity: 1;
  transition: opacity 500ms ease-out delay 100ms, transform 500ms ease;
}
.closeBtn {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.close {
  width: 36px;
  height: 36px;
  fill: rgb(20, 19, 19);
}

.teamList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: rgb(255, 255, 255);
  list-style: none;
  border-radius: 10px;
  padding: 40px;
  overflow-y: auto;
}
.teamList::-webkit-scrollbar {
  width: 16px;
  height: 60px;
  margin: 40px;
  background-color: transparent;
}
.teamList::-webkit-scrollbar-track {
  width: 16px;
  background-color: rgb(255, 255, 255);
  margin: 40px 20px 40px 0;
}
.teamList::-webkit-scrollbar-thumb {
  width: 16px;
  height: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
  border-right: 8px solid rgb(255, 255, 255);
  background-color: rgb(155, 155, 150);
}
.objWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.objTitle {
  font-size: 16px;
}
.devList {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.elDev {
  font-size: 14px;
}
