.project {
  display: grid;
  grid-template-columns: minmax(380px, 1280px);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 32px 16px;
  margin: 0 auto;
  background-color: rgb(67, 4, 78);
  border-top: 2px solid rgb(226, 49, 168);
  border-bottom: 2px solid rgb(226, 49, 168);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .project {
    padding: 48px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .project {
    padding: 68px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .project {
    padding: 68px 80px;
  }
}
@media screen and (min-width: 1920px) {
  .project {
    padding: 68px 120px;
  }
}
.wrapProjects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapProjects {
    gap: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapProjects {
    gap: 68px;
  }
}
.wrapOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 8px;
  column-gap: 28px;
}
.wrapFilter {
  display: flex;
  gap: 8px;
}
.btnFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
}
.iconGreen {
  fill: #099e56;
  width: 32px;
  height: 32px;
}
.iconYellow {
  fill: #ffeb3b;
  width: 32px;
  height: 32px;
}
.iconRed {
  fill: #ff1744;
  width: 32px;
  height: 32px;
}
.iconWhite {
  fill: rgb(226, 49, 168);
  width: 32px;
  height: 32px;
}
.textFilter {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.wrapList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
  margin: 0 auto;
}
.wrapItem {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 388px;
  height: 456px;
  padding: 0;
  border-radius: 12px;
  background-image: url("../../../../../public/images/projects/lapa.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapCover {
  /* top: 0;
  left: 0; */

  position: relative;
  display: flex;
  flex-direction: column;
  width: 388px;
  height: 456px;
  padding: 0;
  border-radius: 12px;
}
/* .wrapImg {
  position: relative;
  display: flex;
  width: 388px;
  height: 456px;
  padding: 0;
  border-radius: 12px;
} */
.wrapInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 388px;
  height: 456px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 20px;
}
.statusWrap {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}
.statusIcon {
  width: 24px;
  height: 24px;
}
.statusText {
  font-size: 16px;
  font-weight: 600;
  color: rgb(46, 5, 53);
}
.wrapTitle {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: auto;
  padding: 0 0 120px 0;
}
.itemTitle {
  display: grid;
  font-size: 24px;
  color: rgb(46, 5, 53);
  font-weight: 700;
  text-align: center;
}
.wrapLink {
  display: flex;
  width: fit-content;
  height: 40px;
}
.itemLink {
  display: flex;
  font-size: 16px;
  border-radius: 20px;
  color: rgb(32, 5, 128);
  font-weight: 700;
  cursor: pointer;
}
/* .wrapElements {
  top: 260px;
  left: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 348px;
  gap: 8px;
  margin-bottom: 0;
} */

.wrapElem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 348px;
  height: 32px;
}
.elem {
  display: flex;
  gap: 8px;
}
.wrapDiffic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style: none;
}
.itemText {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: rgb(67, 4, 78);
  font-weight: 700;
}
.wrapText {
  font-size: 16px;
  color: rgb(67, 4, 78);
  font-weight: 700;
}
.itemIcon {
  width: 24px;
  height: 24px;
  fill: rgb(226, 49, 168);
}
.diffIcon {
  width: 24px;
  height: 24px;
  fill: rgb(67, 4, 78);
  border-radius: 50%;
}
.bg {
  background: rgb(67, 4, 78);
}
.wrapTeamBtn {
  bottom: 28px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 20px;
}
.teamBtn {
  display: flex;
  width: fit-content;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(67, 4, 78);
  border: none;
  outline: transparent;
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
}
.wrapTeam {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 388px;
  height: 456px;
  opacity: 0;
  transform: translateY(500px);
  transition: opacity 500ms ease-out delay 100ms, transform 500ms ease;
}
.show {
  transform: translatey(0);
  opacity: 1;
  transition: opacity 500ms ease-out delay 100ms, transform 500ms ease;
}
.closeBtn {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.close {
  width: 36px;
  height: 36px;
  fill: rgb(20, 19, 19);
}

.teamList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: rgb(255, 255, 255);
  list-style: none;
  border-radius: 10px;
  padding: 40px;
  overflow-y: auto;
}
.teamList::-webkit-scrollbar {
  width: 16px;
  height: 60px;
  margin: 40px;
  background-color: transparent;
}
.teamList::-webkit-scrollbar-track {
  width: 16px;
  background-color: rgb(255, 255, 255);
  margin: 40px 20px 40px 0;
}
.teamList::-webkit-scrollbar-thumb {
  width: 16px;
  height: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
  border-right: 8px solid rgb(255, 255, 255);
  background-color: rgb(207, 202, 210);
}
.objWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.objTitle {
  font-size: 16px;
}
.devList {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.elDev {
  font-size: 14px;
}
