/*  *** MAIN BUTTON */
.wrapBtn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.mainBtn {
  display: flex;
  width: 300px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 8px;
  border-radius: 8px;
  color: rgb(252, 252, 252);
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    130.79deg,
    rgb(108, 34, 118) 0.554%,
    rgb(104, 45, 120) 33.196%,
    rgb(100, 53, 121) 57.436%,
    rgb(97, 59, 122) 76.551%,
    rgb(93, 68, 124) 92.454%
  );
}
.mainBtn:hover,
.mainBtn:focus {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    135deg,
    rgb(227, 124, 193),
    rgb(226, 49, 168) 43.573%,
    rgb(157, 47, 121) 90.728%,
    rgb(133, 26, 98) 119.379%
  );
}
/* *** NOTIF MESS */
.wrapNotif {
  right: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  background-color: rgb(242, 238, 248);
  border-radius: 8px;
  border: 2px solid rgb(226, 49, 168);
  padding: 4px;
  margin: 0 auto;
}
.textNotif {
  font-size: 20px;
  font-family: var(--font-montserrat);
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: rgb(226, 49, 168);
}
/* *** EMPTY PAFE */
.wrapEmpty {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 70vh;
  padding: 40px 0 0 0;
}
.emptyTitle {
  font-size: 24px;
  font-family: var(--font-montserrat);
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: rgb(226, 49, 168);
}
/* ***  LOADING  */
.wrapLoading {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(2px); */
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-color: rgba(255, 255, 255);
}

.wrapLogo {
  position: relative;
  display: flex;
}
/* **** ERROR ***** */
.wrapError {
  display: flex;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  background-color: rgb(46, 5, 53);
  /* border-top: 2px solid rgb(226, 49, 168); */
  /* border-bottom: 2px solid rgb(226, 49, 168); */
}
.errorTitle {
  font-family: var(--font-montserrat);
  font-size: 28px;
  font-weight: 400;
  color: rgb(252, 252, 252);
}
.wrapQuest {
  display: flex;
  width: 60px;
  height: 40px;
  gap: 8px;
}
.errorQuest {
  width: 60px;
  height: 40px;
  fill: rgb(252, 252, 252);
}
.wrapIcon {
  display: flex;
  width: 60px;
  height: 60px;
  gap: 8px;
}
.errorIcon {
  width: 60px;
  height: 60px;
  fill: rgb(252, 252, 252);
}
.wrapBtn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: end;
  padding: 20px 0;
  margin: 0;
}
.mainBtn {
  display: grid;
  width: 300px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 14px 24px 14px 24px;
  border-radius: 8px;
  color: rgb(252, 252, 252);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    130.79deg,
    rgb(108, 34, 118) 0.554%,
    rgb(104, 45, 120) 33.196%,
    rgb(100, 53, 121) 57.436%,
    rgb(97, 59, 122) 76.551%,
    rgb(93, 68, 124) 92.454%
  );
}
.questBtn:hover,
.questBtn:focus {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    135deg,
    rgb(227, 124, 193),
    rgb(226, 49, 168) 43.573%,
    rgb(157, 47, 121) 90.728%,
    rgb(133, 26, 98) 119.379%
  );
}
