.about {
  display: grid;
  grid-template-columns: minmax(380px, 1fr);
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 32px 16px;
  margin: 0 auto;
  background-color: rgb(46, 5, 53);
  border-top: 2px solid rgb(226, 49, 168);
  border-bottom: 2px solid rgb(226, 49, 168);
  /* overflow: hidden; */
}
@media screen and (min-width: 768px) {
  .about {
    gap: 48px;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    gap: 68px;
    padding: 68px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    gap: 68px;
    padding: 68px 80px;
  }
}
@media screen and (min-width: 1920px) {
  .about {
    padding: 68px 120px;
  }
}
.wrapAbout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 20px;
}
.itemWrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 2px solid rgb(226, 49, 168);
}
@media screen and (min-width: 768px) {
  .itemWrap {
    padding: 40px 0;
  }
}
.wrapTitle {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px;
  align-items: center;
  justify-items: start;
  gap: 20px;
}
.wrapIcon {
  display: grid;
  grid-template-columns: 60px;
  grid-template-rows: 60px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 16px;
  border: 2px solid rgb(226, 49, 168);
  padding: 0;
}
.iconTitle {
  width: 40px;
  height: 40px;
}
.itemTitle {
  display: grid;
  color: rgb(255, 255, 255);
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
}
.itemText {
  text-indent: 20px;
  color: rgb(255, 255, 255);
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .itemTitle {
    font-size: 24px;
  }
  .itemText {
    font-size: 20px;
  }
}
/* *** LIST DOCUMENT *** */
.docsWrap {
  display: flex;
  width: 100%;
  height: auto;
}
.docList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 380px;
  gap: 20px;
  padding: 0;
  margin: 0 auto;
}
.wrapDoc {
  display: flex;
  width: 380px;
  height: 60px;
  padding: 0;
  margin: 0;
}
.link {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  color: rgb(252, 252, 252);
  /* text-decoration: none; */
  padding: 0;
}

/* *** PAGE DOCUMENT */
.sectionDoc {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 32px 16px;
  margin: 0 auto;
  background-color: rgb(138, 26, 102);
}
@media screen and (min-width: 768px) {
  .sectionDoc {
    gap: 48px;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .sectionDoc {
    gap: 68px;
    padding: 68px 60px;
  }
}
.wrapDocument {
  display: grid;
  grid-template-columns: minmax(340px, 680px);
  grid-auto-rows: auto;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(122, 120, 120);
  gap: 8px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .wrapDocument {
    padding: 40px;
  }
}
.wrapSubTitle {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
}
.subTitle {
  font-size: 10px;
  color: rgb(3, 1, 16);
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .subTitle {
    font-size: 14px;
  }
}
.title {
  font-size: 18px;
  color: rgb(3, 1, 16);
  text-align: center;
  font-family: var(--font-montserrat);
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 22px;
  }
}
.text {
  text-indent: 8px;
  font-size: 14px;
  color: rgb(3, 1, 16);
  text-align: left;
  font-family: var(--font-montserrat);
  font-weight: 500;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}
.wrapTextList {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 8px;
  font-size: 14px;
  color: rgb(3, 1, 16);
  text-align: left;
  font-family: var(--font-montserrat);
  font-weight: 500;
  line-height: 1.3;
  padding: 0 0 0 16px;
}
@media screen and (min-width: 768px) {
  .wrapTextList {
    font-size: 18px;
  }
}
