.speciality {
  display: grid;
  grid-template-columns: minmax(380px, 1280px);
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 32px 16px;
  margin: 0 auto;
  background-color: rgb(67, 4, 78);
  border-top: 2px solid rgb(226, 49, 168);
  border-bottom: 2px solid rgb(226, 49, 168);
}
@media screen and (min-width: 768px) {
  .speciality {
    gap: 48px;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .speciality {
    gap: 68px;
    padding: 68px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .speciality {
    gap: 68px;
    padding: 68px 80px;
  }
}
@media screen and (min-width: 1920px) {
  .speciality {
    padding: 68px 120px;
  }
}
.specialTitle {
  display: flex;
  justify-content: center;
  color: rgb(252, 252, 252);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .specialTitle {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .specialTitle {
    font-size: 40px;
  }
}
.wrapList {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding: 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapList {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .wrapList {
    font-size: 32px;
  }
}
.wrapItem {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 380px;
  padding: 0;
  border: 2px solid rgb(160, 58, 126);
  border-radius: 8px;
  background-color: rgb(46, 5, 53);
}
.wrapImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapInfo {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 180px;
  overflow: hidden;
  gap: 16px;
  padding: 16px 16px 28px 16px;
  border-radius: 8px;
  background-color: rgb(46, 5, 53);
  transform: translateY(168px);
  transition: overflow 350ms ease-out delay 100ms, transform 350ms ease;
}
.show {
  transform: translatey(0);
  overflow: visible;
  transition: overflow 350ms ease-out delay 100ms, transform 350ms ease;
}
.itemText {
  color: rgb(252, 252, 252);
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.wrapIcon {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28px;
  background-color: transparent;
  border: none;
  outline: transparent;
  padding: 0;
  cursor: pointer;
}

.icon {
  stroke: rgb(252, 252, 252);
  width: 28px;
  height: 28px;
}
