.stages {
  display: grid;
  grid-template-columns: minmax(380px, 1280px);
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 32px 16px;
  margin: 0 auto;
  background-color: rgb(160, 58, 126);
}
@media screen and (min-width: 768px) {
  .stages {
    gap: 48px;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .stages {
    gap: 68px;
    padding: 68px 60px;
  }
}
@media screen and (min-width: 1440px) {
  .stages {
    gap: 68px;
    padding: 68px 80px;
  }
}
@media screen and (min-width: 1920px) {
  .stages {
    padding: 68px 120px;
  }
}
.stageTitle {
  display: flex;
  /* grid-template-columns: 1fr;
  grid-template-rows: auto; */
  justify-content: center;
  color: rgb(252, 252, 252);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .stageTitle {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .stageTitle {
    font-size: 40px;
  }
}
.wrapList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding: 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapList {
    gap: 32px;
  }
}

.wrapItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 380px;
  height: 360px;
  border-radius: 24px;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background-color: rgb(46, 5, 53);
  gap: 24px;
  padding: 32px 20px 20px 20px;
  background-repeat: no-repeat;
  background-size: 120px 240px;
  background-position: 16px center;
}
.bg1 {
  background-image: url("../../../../../public/imgtrainee/stages/num1.svg");
}

.bg2 {
  background-image: url("../../../../../public/imgtrainee/stages/num2.svg");
}

.bg3 {
  background-image: url("../../../../../public/imgtrainee/stages/num3.svg");
}

.bg4 {
  background-image: url("../../../../../public/imgtrainee/stages/num4.svg");
}
@media screen and (min-width: 768px) {
  .wrapItem {
    width: 688px;
    height: 400px;
    background-size: 136px 324px;
    padding: 48px 20px 48px 140px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapItem {
    width: 1160px;
    gap: 40px;
    background-position: 32px center;
    padding: 48px 60px 48px 240px;
  }
}
.wrapTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 52px;
  padding: 14px;
  border-bottom: 2px solid rgb(226, 49, 168);
}
.itemTitle {
  font-family: var(--font-montserrat);
  color: rgb(252, 252, 252);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .wrapTitle {
    gap: 32px;
  }
  .itemTitle {
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapTitle {
    gap: 40px;
  }
  .itemTitle {
    font-size: 32px;
  }
}
.wrapImg {
  position: relative;
  display: flex;
}
.wrapInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1280px) {
  .wrapInfo {
    gap: 24px;
  }
}
.wrapText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.wrapIcon {
  width: 28px;
  height: 28px;
}
.icon {
  stroke: rgb(252, 252, 252);
  width: 28px;
  height: 28px;
}
.itemText {
  color: rgb(252, 252, 252);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .itemText {
    font-size: 18px;
  }
  .wrapIcon {
    width: 30px;
    height: 30px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .itemText {
    font-size: 20px;
  }
  .wrapIcon {
    width: 32px;
    height: 32px;
  }
  .icon {
    width: 32px;
    height: 32px;
  }
}
