.topbg {
  position: relative;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 80px;
  background-color: rgb(46, 5, 53);
  padding: 0;
  margin: 0 auto;
}
.header {
  display: grid;
  grid-template-columns: minmax(380px, 1680px);
  grid-template-rows: 80px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 820px) {
  .header {
    padding: 0 40px;
  }
}
.wrap {
  display: grid;
  grid-template-columns: 60px 48px auto 60px;
  grid-template-rows: 80px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 820px) {
  .wrap {
    grid-template-columns: 60px auto auto 60px;
  }
}
.logo {
  display: grid;
  grid-template-columns: 60px;
  grid-template-rows: 60px;
  padding: 0;
}
.wrapMenu {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 48px 40px;
  gap: 16px;
  padding: 30px 0 0 0;
  margin: 30px 0 0 0;
}
@media screen and (min-width: 820px) {
  .wrapMenu {
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 0;
    margin: 0;
  }
}
.menuBtn {
  display: block;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 820px) {
  .menuBtn {
    display: none;
  }
}
.iconMenu {
  width: 44px;
  height: 44px;
  fill: rgb(252, 252, 252);
}
.wrapNav {
  position: absolute;
  z-index: 0;
  top: 80px;
  left: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: rgb(46, 5, 53);
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 820px) {
  .wrapNav {
    position: relative;
    z-index: 0;
    top: 0;
    display: grid;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
}
.navigate {
  background-color: rgb(46, 5, 53);
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 150px));
  grid-template-rows: 54px;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  list-style: none;
  font-size: clamp(16px, 0.839rem + 0.33vw, 18px);
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
@media screen and (min-width: 820px) {
  .navigate {
    background-color: transparent;
    gap: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .navigate {
    gap: 24px;
  }
}
.link {
  color: rgb(252, 252, 252);
  text-decoration: none;
}
.active {
  text-decoration: none;
  color: rgb(227, 124, 193);
}
.button {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 28px;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 0.839rem + 0.33vw, 18px);
  font-weight: 600;
  line-height: 1.5;
  border-radius: 8px;
  outline: none;
  border: none;
  color: rgb(252, 252, 252);
  background: linear-gradient(
    130.79deg,
    rgb(108, 34, 118) 0.568%,
    rgb(104, 45, 120) 33.205%,
    rgb(100, 53, 121) 57.441%,
    rgb(97, 59, 122) 76.552%,
    rgb(93, 68, 124) 92.453%
  );
  padding: 14px 16px 14px 16px;
}

@media screen and (min-width: 1440px) {
  .button {
    padding: 14px 24px 14px 24px;
  }
}
.lngwrap {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 8px 0 0;
  border: none;
}
.lngselect {
  display: grid;
  grid-template-columns: 32px;
  grid-template-rows: 32px 1fr;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 0 0 0 4px;
}
.lnginput {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 0.839rem + 0.33vw, 18px);
  color: rgb(192, 164, 183);
  font-weight: 600;
  line-height: 1.5;
  background-color: rgb(46, 5, 53);
  border: none;
  outline: transparent;
  padding: 0 0 0 4px;
}
.lnglist {
  position: absolute;
  z-index: -1;
  top: 28px;
  display: grid;
  grid-template-columns: 60px;
  grid-template-rows: 20px 20px;
  gap: 2px;
  list-style: none;
  background-color: rgb(46, 5, 53);
  padding: 0 0 4px 4px;
  border-radius: 4px;
}
.lnglink {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  text-decoration: none;
  font-size: clamp(16px, 0.839rem + 0.33vw, 18px);
  color: rgb(192, 164, 183);
  font-weight: 600;
  line-height: 1.5;
}
.btnicon {
  display: grid;
  grid-template-columns: 28px;
  grid-template-rows: 28px;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 5, 53);
  border: none;
  outline: transparent;
  padding: 4px 4px 4px 0;
  cursor: pointer;
}
.icon {
  width: 20px;
  height: 20px;
  fill: rgb(252, 252, 252);
}
