.auth {
  display: grid;
  grid-template-columns: minmax(380px, 1280px);
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 32px 16px;
  margin: 0 auto;
  /* background-color: rgb(67, 4, 78); */
  background-color: rgb(138, 26, 102);
  /* border-top: 2px solid rgb(226, 49, 168);
  border-bottom: 2px solid rgb(226, 49, 168); */
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .auth {
    gap: 48px;
    padding: 48px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .auth {
    padding: 68px 60px;
  }
}
.authTitle {
  color: rgb(252, 252, 252);
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .authTitle {
    font-size: 32px;
  }
}
.wrapRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  border-radius: 12px;
  background-color: rgba(210, 210, 210, 0.5);
  gap: 24px;
  padding: 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapRegister {
    width: 480px;
    gap: 40px;
    padding: 40px;
  }
}
.wrapGoogle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  height: 92px;
  gap: 20px;
  border-radius: 44px;
  background-color: rgb(255, 255, 255);
  padding: 16px;
}
.iconGoogl {
  width: 60px;
  height: 60px;
}
.btnGoogl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  padding: 14px;
  border-radius: 32px;
  border: 2px solid rgb(150, 131, 174);
  background-color: rgb(255, 255, 255);
  color: rgb(3, 1, 16);
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
}

.wrapSignin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  gap: 16px;
  border-radius: 20px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .wrapSignin {
    width: 400px;
    gap: 24px;
  }
}
.wrapField {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.labelField {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 340px;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: rgb(252, 252, 252);
}
.inputField {
  display: flex;
  width: 340px;
  height: 44px;
  border-radius: 8px;
  outline: rgb(252, 252, 252);
  background-color: rgb(252, 252, 252);
  border: none;
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 400;
  color: rgb(3, 1, 16);
  padding: 10px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .labelField {
    width: 400px;
  }
  .inputField {
    width: 400px;
  }
}
.authLink {
  color: rgb(252, 252, 252);
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 0;
}
