.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.4);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.wrapModal {
  position: relative;
  display: flex;
  width: 380px;
  border-radius: 16px;
  background-color: rgb(24, 5, 48);
  border: 2px solid rgb(255, 98, 206);
  padding: 44px 18px 32px 18px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .wrapModal {
    width: 684px;
    padding: 32px;
  }
}
.closeBtn {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.close {
  width: 44px;
  height: 44px;
  fill: rgb(255, 255, 255);
}
/* ***   MODAL DONATE   *** */
.modalDonate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  gap: 16px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .modalDonate {
    width: 620px;
    gap: 32px;
  }
}
.title {
  display: flex;
  color: rgb(252, 252, 252);
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    font-weight: 700;
  }
}
.wrapSum {
  display: flex;
  width: 340px;
  height: 96px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .wrapSum {
    width: 616px;
    height: 112px;
    gap: 12px;
  }
}
.sum {
  position: relative;
  display: flex;
  width: 240px;
  justify-content: flex-end;
  color: rgb(252, 252, 252);
  font-family: var(--font-montserrat);
  font-size: 80px;
  font-weight: 500;
  line-height: 1.5;
  text-align: right;
  background-color: rgb(24, 5, 48);
  outline: rgb(24, 5, 48);
  border: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .sum {
    width: 380px;
    font-size: 100px;
  }
}
.hrn {
  position: relative;
  display: flex;
  width: 32px;
  height: 38px;
  stroke: rgb(252, 252, 252);
}
.wrapBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .wrapBtn {
    flex-direction: row;
  }
}
.btnSum {
  display: flex;
  width: 120px;
  height: 44px;
  justify-content: center;
  align-items: center;
  padding: 12px 4px 12px 4px;
  box-sizing: border-box;
  border: 1px solid rgb(252, 252, 252);
  background-color: rgb(24, 5, 48);
  border-radius: 8px;
  color: rgb(252, 252, 252);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btnSum {
    width: 140px;
    height: 52px;
    font-size: 18px;
  }
}
.btnPay {
  display: flex;
  width: 240px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: rgb(252, 252, 252);
  font-family: var(--font-open-sans);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  outline: transparent;
  border: none;
}
.btnPay.disabled {
  background-color: rgba(210, 210, 210, 0.3);
}
.btnPay.active {
  background: linear-gradient(
    130.79deg,
    rgb(108, 34, 118) 1.102%,
    rgb(104, 45, 120) 33.541%,
    rgb(100, 53, 121) 57.629%,
    rgb(97, 59, 122) 76.625%,
    rgb(93, 68, 124) 92.429%
  );
}

/*  *** MODAL THANK  *** */
.modalThank {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 24px;
  /* width: 288px;
  height: 274px; */
}
.btnThank {
  display: grid;
  grid-template-columns: 248px;
  grid-template-rows: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: rgb(252, 252, 252);
  font-family: var(--font-open-sans);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(
    130.79deg,
    rgb(108, 34, 118) 1.102%,
    rgb(104, 45, 120) 33.541%,
    rgb(100, 53, 121) 57.629%,
    rgb(97, 59, 122) 76.625%,
    rgb(93, 68, 124) 92.429%
  );
  padding: 0;
}
/* *** MODAL MENTOR *** */
.wrapModalMentor {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  border-radius: 16px;
  background-color: rgb(24, 5, 48);
  border: 2px solid rgb(255, 98, 206);
  padding: 44px 16px 24px 16px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .wrapModalMentor {
    width: 464px;
    padding: 44px 32px 32px 32px;
  }
}
.modalMentor {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 340px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .modalMentor {
    width: 400px;
  }
}
.titleModal {
  display: flex;
  color: rgb(252, 252, 252);
  font-family: var(--font-open-sans);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
.mentorForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 340px;
  gap: 24px;
  padding: 0;
}
.wrapData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
/* ***** INPUT TEXT **** */
.wrapInput {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.inputData {
  display: flex;
  width: 340px;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(252, 252, 252);
  color: rgb(3, 1, 16);
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  outline: transparent;
}
.border {
  border: 1px solid rgb(252, 252, 252);
}
.borderRed {
  border: 1px solid rgb(249, 73, 73);
}
.labelData {
  display: flex;
  width: 340px;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: rgb(252, 252, 252);
}
.red {
  color: rgb(249, 73, 73);
}
/* ***** INPUT CHECK ****** */
.wrapCheck {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  list-style: none;
}
.checkItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.checkBox {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid rgb(252, 252, 252);
  background-color: rgb(3, 1, 16);
}
.checkText {
  color: rgb(252, 252, 252);
  font-family: var(--font-open-sans);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
}
.wrapAgree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 340px;
  padding: 0;
  margin: 0;
}
.agreeText {
  display: flex;
  width: 300px;
  color: rgb(252, 252, 252);
  font-family: var(--font-open-sans);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
}
.wrapBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .mentorForm {
    width: 400px;
  }
  .inputData {
    width: 400px;
  }
  .labelData {
    width: 400px;
  }
  .wrapBtn {
    width: 400px;
  }
  .wrapAgree {
    width: 400px;
  }
  .agreeText {
    width: 360px;
  }
}
.errorMess {
  display: flex;
  color: rgb(249, 73, 73);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
