.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(15, 3, 31, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.wrapModal {
  position: relative;
  display: flex;
  width: 380px;
  border-radius: 16px;
  background-color: rgb(24, 5, 48);
  border: 2px solid rgb(255, 98, 206);
  padding: 44px 18px 32px 18px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .wrapModal {
    width: 684px;
    padding: 32px;
  }
}
.closeBtn {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.close {
  width: 44px;
  height: 44px;
  fill: rgb(255, 255, 255);
}
/* ***   MODAL DONATE   *** */
.wrapModalDonate {
  position: relative;
  display: flex;
  width: 380px;
  border-radius: 16px;
  background-color: rgb(46, 5, 53);
  border: 2px solid rgb(255, 98, 206);
  padding: 44px 18px 32px 18px;
  margin: 100px auto;
}
@media screen and (min-width: 768px) {
  .wrapModalDonate {
    width: 684px;
    padding: 44px 24px 32px 24px;
  }
}
.modalDonate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  gap: 16px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .modalDonate {
    width: 632px;
    gap: 32px;
  }
}
.title {
  display: flex;
  color: rgb(252, 252, 252);
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    font-weight: 700;
  }
}
.wrapSum {
  display: flex;
  width: 340px;
  height: 96px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .wrapSum {
    width: 616px;
    height: 112px;
    gap: 12px;
  }
}
.sum {
  position: relative;
  display: flex;
  width: 240px;
  justify-content: flex-end;
  color: rgb(252, 252, 252);
  font-family: var(--font-montserrat);
  font-size: 80px;
  font-weight: 500;
  line-height: 1.5;
  text-align: right;
  background-color: rgb(46, 5, 53);
  outline: rgb(46, 5, 53);
  border: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .sum {
    width: 380px;
    font-size: 100px;
  }
}
.hrn {
  position: relative;
  display: flex;
  width: 32px;
  height: 38px;
  stroke: rgb(252, 252, 252);
}
.wrapBtnSum {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .wrapBtnSum {
    flex-direction: row;
    width: 632px;
  }
}
.btnSum {
  display: flex;
  width: 120px;
  height: 44px;
  justify-content: center;
  align-items: center;
  padding: 12px 4px 12px 4px;
  box-sizing: border-box;
  border: 1px solid rgb(252, 252, 252);
  background-color: rgb(46, 5, 53);
  border-radius: 8px;
  color: rgb(252, 252, 252);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btnSum {
    width: 140px;
    height: 52px;
    font-size: 18px;
  }
}
.btnPay {
  display: flex;
  width: 240px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: rgb(252, 252, 252);
  font-family: var(--font-open-sans);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  outline: transparent;
  border: none;
}
.btnPay.disabled {
  background-color: rgba(210, 210, 210, 0.3);
}
.btnPay.active {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    130.79deg,
    rgb(108, 34, 118) 0.554%,
    rgb(104, 45, 120) 33.196%,
    rgb(100, 53, 121) 57.436%,
    rgb(97, 59, 122) 76.551%,
    rgb(93, 68, 124) 92.454%
  );
}
.btnPay:hover,
.btnPay:focus {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    135deg,
    rgb(227, 124, 193),
    rgb(226, 49, 168) 43.573%,
    rgb(157, 47, 121) 90.728%,
    rgb(133, 26, 98) 119.379%
  );
}

/*  *** MODAL THANK  *** */
.modalThank {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 24px;
  /* width: 288px;
  height: 274px; */
}
.btnThank {
  display: grid;
  grid-template-columns: 248px;
  grid-template-rows: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: rgb(252, 252, 252);
  font-family: var(--font-open-sans);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    130.79deg,
    rgb(108, 34, 118) 0.554%,
    rgb(104, 45, 120) 33.196%,
    rgb(100, 53, 121) 57.436%,
    rgb(97, 59, 122) 76.551%,
    rgb(93, 68, 124) 92.454%
  );
  padding: 0;
}
.btnThank:hover,
.btnThank:focus {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    135deg,
    rgb(227, 124, 193),
    rgb(226, 49, 168) 43.573%,
    rgb(157, 47, 121) 90.728%,
    rgb(133, 26, 98) 119.379%
  );
}
/* *** MODAL MENTOR *** */
.wrapModalMentor {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  border-radius: 16px;
  background-color: rgb(46, 5, 53);
  border: 2px solid rgb(255, 98, 206);
  padding: 44px 16px 24px 16px;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .wrapModalMentor {
    width: 524px;
    padding: 44px 32px 32px 32px;
  }
}
.modalMentor {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 340px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .modalMentor {
    width: 456px;
  }
}
.titleModal {
  display: flex;
  color: rgb(252, 252, 252);
  font-family: var(--font-open-sans);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
.mentorForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 340px;
  gap: 24px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .mentorForm {
    width: 456px;
  }
}
.wrapData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
/* ***** INPUT TEXT **** */
.wrapInput {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.inputData {
  display: flex;
  width: 340px;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(252, 252, 252);
  color: rgb(3, 1, 16);
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  outline: transparent;
}
.inputData:placeholder-shown {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: rgba(210, 210, 210, 0.5);
}
@media screen and (min-width: 768px) {
  .inputData {
    width: 456px;
  }
}
.border {
  border: 2px solid rgb(252, 252, 252);
}
.borderRed {
  border: 2px solid rgb(249, 73, 73);
}
.labelData {
  display: flex;
  width: 340px;
  height: 20px;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: rgb(252, 252, 252);
}
@media screen and (min-width: 768px) {
  .labelData {
    width: 456px;
  }
}
.red {
  color: rgb(249, 73, 73);
}
/* ***** INPUT CHECK ****** */
.wrapCheck {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .wrapCheck {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.wrapItem {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.checkItem {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  gap: 12px;
}
.checkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid rgb(252, 252, 252);
  background-color: rgb(46, 5, 53);
  cursor: pointer;
}
.stateFalse {
  background-color: rgb(46, 5, 53);
}
.stateTrue {
  background-position: center;
  background-size: 20px 20px;
  background-image: url("../../../../public/imghome/modal/check.svg");
  background-color: rgb(46, 5, 53);
}
.checkText {
  color: rgb(252, 252, 252);
  font-family: var(--font-open-sans);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
}
.wrapAgree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 340px;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .wrapAgree {
    width: 456px;
  }
}
.checkAgree {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 340px;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .checkAgree {
    width: 456px;
  }
}
.agreeText {
  display: flex;
  width: 300px;
  color: rgb(252, 252, 252);
  font-family: var(--font-open-sans);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .agreeText {
    width: 420px;
  }
}
.wrapBtnForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .wrapBtnForm {
    width: 456px;
  }
}
.errorMess {
  display: flex;
  color: rgb(249, 73, 73);
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
