.counter {
  display: grid;
  grid-template-columns: minmax(380px, 1680px);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
  padding: 20px;
  margin: 0 auto;
  background: linear-gradient(
    138.78deg,
    rgb(219, 151, 197) -13.723%,
    rgb(204, 79, 163) 5.792%,
    rgb(160, 58, 126) 31.964%,
    rgb(109, 38, 86) 76.848%,
    rgb(73, 7, 53) 101.654%
  );
}
@media screen and (min-width: 768px) {
  .counter {
    /* grid-template-columns: repeat(3, minmax(180px, 280px));
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: start; */
    padding: 60px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .counter {
    padding: 60px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .counter {
    padding: 60px 40px;
  }
}
@media screen and (min-width: 1920px) {
  .counter {
    /* grid-template-columns: 1680px; */
    padding: 72px 40px;
  }
}
.wrapList {
  display: grid;
  grid-template-columns: minmax(380px, 724px);
  grid-template-rows: repeat(3, 80px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapList {
    /* grid-template-columns: repeat(3, minmax(180px, 280px)); */
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: start;
    /* padding: 60px 40px; */
  }
}
.countWrap {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .countWrap {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
.number {
  display: grid;
  grid-template-columns: 120px 30px;
  grid-template-rows: 84px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.items {
  display: grid;
  justify-content: end;
  align-items: center;
  color: rgb(252, 252, 252);
  font-size: clamp(48px, 2.397rem + 2.3vw, 56px);
  font-weight: 600;
  line-height: 1.5;
}
.icon {
  fill: rgb(252, 252, 252);
  width: 28px;
  height: 28px;
}
.countTitle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  color: rgb(252, 252, 252);
  font-size: clamp(16px, 0.397rem + 2.3vw, 24px);
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  overflow-wrap: anywhere;
  padding: 0 10px;
}
@media (min-width: 1440px) {
  .countTitle {
    grid-template-columns: max-content;
  }
}
