.question {
  display: grid;
  grid-template-columns: minmax(380px, 1320px);
  grid-template-rows: 60px 1fr 100px;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 20px;
  background-color: rgb(46, 5, 53);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .question {
    gap: 38px;
    padding: 60px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .question {
    gap: 58px;
    padding: 60px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .question {
    grid-template-columns: minmax(1280px, 1320px);
    padding: 60px 40px;
  }
}
@media screen and (min-width: 1920px) {
  .question {
    padding: 72px 40px;
  }
}
.questTitle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px;
  justify-content: center;
  color: rgb(252, 252, 252);
  font-size: clamp(32px, 1.397rem + 2.3vw, 40px);
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 0;
}
.wrapQuestions {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  list-style: none;
}
.wrapItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 0;
  margin: 0;
}
.wrapTitle {
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 80px;
  align-items: center;
  color: rgb(252, 252, 252);
  font-size: clamp(20px, 0.948rem + 1.15vw, 24px);
  font-weight: 700;
  line-height: 1.4;
  text-align: left;
  outline: none;
  background-color: rgb(46, 5, 53);
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid rgb(109, 38, 86);
  cursor: pointer;
}
.icon {
  fill: rgb(252, 252, 252);
}
.wrapText {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 16px 0px 16px 0px;
  margin: 0;
}
.text {
  color: rgb(252, 252, 252);
  font-size: clamp(16px, 0.698rem + 1.15vw, 20px);
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.wrapBtn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
  justify-items: center;
  align-items: end;
  padding: 0;
  margin: 0;
}
.questBtn {
  display: grid;
  width: 300px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 14px 24px 14px 24px;
  border-radius: 8px;
  color: rgb(252, 252, 252);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    130.79deg,
    rgb(108, 34, 118) 0.554%,
    rgb(104, 45, 120) 33.196%,
    rgb(100, 53, 121) 57.436%,
    rgb(97, 59, 122) 76.551%,
    rgb(93, 68, 124) 92.454%
  );
}
.questBtn:hover,
.questBtn:focus {
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.213),
    inset -3px -3px 3px rgba(88, 4, 70, 0.532);
  background: linear-gradient(
    135deg,
    rgb(227, 124, 193),
    rgb(226, 49, 168) 43.573%,
    rgb(157, 47, 121) 90.728%,
    rgb(133, 26, 98) 119.379%
  );
}
